
{% load static %}

{% block content %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'store:home' %}">ecom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'store:home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'store:about' %}">About</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'store:logout' %}">Logout</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'store:update_user' %}">Profile</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'store:update_info' %}">update user info</a></li>
                            </ul>
                        </li


                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'store:register' %}">Register</a></li>

                        {% endif%}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'store:category_summary' %}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'store:category' 'mobile-phone' %}">mobile phone</a></li>
                                <li><a class="dropdown-item" href="{% url 'store:category' 'laptops' %}">laptops</a></li>
                            </ul>
                        </li>

                        
                    </ul>
                    <form class="d-flex"></form>
                        <a href="{% url 'cart:cart' %}" class="btn btn-outline-dark"><i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart_length }}</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

{% endblock %}
