{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5 mb-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder mb-3">Update info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your account</p>
        </div>
    </div>
</header>

<div class ="container">
    <div class="row">
        <center>
            <div class="col-8 col-md-6 col-lg-4">
                <form method="post" action="{% url 'store:update_info' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Update Info</button>
                
                <br/><br/>
                </form>
            </div>
            </center>

{% endblock %}