{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Billing Information</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Enter your payment information</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="card">
  <div class="card-header">
    Order Summary
  </div>
  <div class="card-body">
    {% for product in cart_products %}
    {{ product.name}}
    {% if product.is_sale %}

        ${{ product.sale_price }}
    {% else %}
        {{ product.price }}
      
    {% endif %}
<br/><br/>
    
    Quantity:
    {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}
                <option selected>{{ value }}</option>
                {% endif %}
    {% endfor %}
 

    <br/><br/>

    <strong>Total: ${{ totals }}    </strong>
    <br/><br/>
    {% endfor %}

    <a href="{% url 'cart:cart' %}" class="btn btn-primary">Cart</a>

     <br/><br/>
     <div class="card">
  <div class="card-header">
    Shipping Information
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'payment:billing_info' %}">
      {% csrf_token %}
    {{shipping_form.as_p}}
  </div>
</div>

<a href="#" class=""btn btn-success mt-3">Pay now</a>
<br/><br/>
  </div>
</div>
        </div>
            
       


{% endblock %}